
##
# General
##

APP_PORT=<number>
APP_NODE_ENV=<string>
APP_CLUSTERING=<boolean>

PROJECT_NAME=<string>
PROJECT_DESCRIPTION=<string>
PROJECT_VERSION=<string>

##
# Swagger
##

SWAGGER_USERNAME=<string>
SWAGGER_PASSWORD=<string>


##
# Throttler (rate limiter)
##

THROTTLER_GLOBAL_TTL=<number>
THROTTLER_GLOBAL_LIMIT=<number>

THROTTLER_AUTH_TTL=<number>
THROTTLER_AUTH_LIMIT=<number>